@model Store.Domain.Entities.Product

@{
    ViewBag.Title = "编辑产品";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="panel">
    <div class="panel-heading">
        <h3>@Model.Name</h3>
    </div>
    @using (Html.BeginForm("Edit", "Admin", FormMethod.Post, new { enctype = "multipart/form-data"  }))
    {
        <div class="panel-body">
            @Html.HiddenFor(p => p.ID)
            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                switch (property.PropertyName)
                {
                    case "ID":
                    case "ImageData":
                    case "ImageMimeType":
                        break;
                    default:
                        <div class="form-group">
                            <label>@(property.DisplayName ?? property.PropertyName)</label>
                            @if (property.PropertyName == "Description")
                            {
                                @Html.TextArea(property.PropertyName, null, new { @class = "form-control", rows = 5 })
                            }
                            else
                            {
                                @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
                            }
                        </div>
                            @Html.ValidationMessage(property.PropertyName)
                        break;
                }
            }
            <div class="form-group">
                <div style="position:relative">
                    <label>图片</label>
                    <a class="btn" href="javascript:;">选择图片...
                    <input type="file" onchange='$("#upload-file-info").html($(this).val());' name="image" size="40" style="position:absolute;left:0;top:0; z-index:2;filter:alpha(opacity=0);opacity:0;background-color:transparent;color:transparent" />
                    </a>
                   
                    <span class="lable lable-info" id="upload-file-info"></span>
                </div>
                @if (Model.ImageData==null)
                {
                    <div class="form-control-static">没有图片</div>
                }
                else
                {
                    <img class="img-thumbnail" width="150" height="150" src="@Url.Action("GetImage","Product",new { Model.ID})" />
                }
            </div>
        </div>

        <div class="panel-footer">
            <input type="submit" class="btn btn-primary" value="保存" />
            @Html.ActionLink("取消并返回", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>

